@import "@styles/colors";
@import "@styles/variables";
@import "@styles/mixins";

.dashboard-wrapper {
  @include full-screen;
}

.wrapperek {
  margin-top: 80px;
  height: calc(100vh - 80px);
  overflow-x: auto;
  position: relative;
}

.show-nav-btn {
  position: fixed;
  background: $secondary-color-lighten;
  width: 50px;
  height: 50px;
  opacity: 0.9;
  svg {
    color: $border-color;
    font-size: 34px;
  }
}

.open-dashboard {
  width: calc(100% - 240px);
  margin-left: 240px;
}

.close-dashboard {
  width: 100%;
  margin-left: 0;
}

.dashboard-content {
  transition: width 700ms, margin-left 700ms;
}
