$primary-color: #191a1b;
$secondary-color: #212425;
$secondary-color-lighten: #292929;

$font-primary-color: #e0e0e0;
$font-primary-color-darker: #b6b6b6;

$error-color: #d32f2f;
$warning-color: #ffb300;
$success-color: #00ff0d;

$focus-color: #42d7f5;
$disabled-color: #585858;
$border-color: #b4b4b4; 
$shadow-color: #838383; 