$primary-color: #191a1b;
$secondary-color: #212425;
$secondary-color-lighten: #383838;

$font-primary-color: #e0e0e0;
$font-primary-color-darker: #b6b6b6;

$error-color: #d32f2f;
$warning-color: #ffb300;
$success-color: #00ff0d;

$focus-color: #42d7f5;
$disabled-color: #585858;
$green-color: #03A062;
$green-color-lighter: #50967a;

$border-color: #979797;
$border-color-grey-dark: #494949;
$border-color-dark: rgba(0, 0, 0, 0.87);
$border-color-dark-lighter: rgba(0, 0, 0, 0.12);

$shadow-color: #838383;
