body {
  background: $primary-color;
  color: $font-primary-color;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: $shadow-color; 
}

::-webkit-scrollbar-thumb:hover {
  background: $shadow-color; 
}

.text-error {
  color: $error-color;
}

.display-none {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

.full-screen-component-wrapper {
  @include full-screen;
}

.card-wrapper {
  padding: $section-space-medium $section-space-small;
  margin: $margin-medium;
  @include primary-border-shadow;
}

.section-title {
  font-size: $font-big;
  text-align: center;
  margin-bottom: $section-space-medium;
}

.section-margin {
  margin-top: $section-space-medium;
}

.display-column {
  display: flex;
  flex-direction: column;
}

.display-row {
  display: flex;
}

.display-row-center-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-row-bottom-space {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.left-position {
  margin-right: auto !important;
}

.right-position {
  margin-left: auto !important;
}

.center-position {
  margin-left: auto !important;
  margin-right: auto !important;
}

.mui-input {
  padding: 5px !important;
}
