$border-radius: 8px;
$icon-size: 18px;

$font-big: 24px;
$font-medium: 16px;
$font-small: 12px;

$margin-big: 16px;
$margin-medium: 12px;
$margin-small: 8px;

$section-space-small: 10px;
$section-space-medium: 20px;
$section-space-big: 40px;


