@import "@styles/colors";
@import "@styles/variables";
@import "@styles/mixins";
@import "@styles/mediaQueries";


.the-drawer-wrapper {
  .MuiDrawer-paper {
    top: 50px;
    width: 240px;
    box-sizing: border-box;
    height: calc(100vh - 50px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include md {
      top: 80px;
      height: calc(100vh - 80px);
    }
  }
  
  .drawer-nav-link {
    text-decoration: none;
    color: $font-primary-color;
  }
  .drawer-item-simple {
    min-height: 34px;
    display: flex;
    align-items: center;
    padding: 0 $margin-small;
    cursor: pointer;
    &:hover {
      background-color: $secondary-color-lighten;
    }
    margin: 5px 0;
    border-top: 1px solid $border-color-dark-lighter;
    border-bottom: 1.5px solid $border-color-dark;
  }
  .MuiPaper-root {
    background-color: $secondary-color;
  }
  .hide-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    svg {
      fill: $font-primary-color;
      font-size: 34px;
    }
  }
  .drawer-menu-wrapper {
    border-top: 1px solid $border-color;
    padding-top: 5px;

    .MuiAccordion-root {
      min-height: 34px;
      margin-top: 10px;
      .MuiAccordionDetails-root:first-of-type {
        border-top: 1px solid $focus-color;
      }
    }
    .MuiAccordionSummary-content {
      margin: 3px 0;
      min-height: unset;
      width: 100%;
    }
    .MuiAccordionSummary-root {
      margin: 0;
      padding: 0 $margin-small;
      font-size: $font-medium;
      min-height: unset !important;
    }
    .MuiAccordionDetails-root {
      border-top: 1px solid $border-color;
      padding: 8px 12px;
      &:hover {
        background-color: $secondary-color-lighten;
      }
    }
    .drawer-menu-summary-empty-content {
      padding-top: 6px;
    }
    .menu-drawer-icon {
      fill: $font-primary-color;
      font-size: 34px;
    }
    .drawer-menu-title {
      font-size: $font-medium;
      color: $font-primary-color;
    }
    .drawer-menu-content {
      font-size: $font-medium;
      color: $font-primary-color;
    }
  }

  .drawer-menu-footer {
    cursor: pointer;
    border-top: 1px solid $border-color;
    margin: 10px 0px 1px;
    padding: $margin-small;
    font-size: $font-medium;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $font-primary-color;
    &:hover {
      background-color: $secondary-color-lighten;
    }
  }
}
