@import "@styles/colors";
@import "@styles/variables";
@import "@styles/mixins";
@import "@styles/mediaQueries";

.compiler-board-wrapper { 
  .compiler-board-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include sm {
      justify-content: space-between;
    }
  }
  .compiler-board-content {
    margin-top: $margin-small;
    border-top: 1px solid $border-color;
    display: flex;
    flex-wrap: wrap;
    
    .compiler-board-code-output {
      width: 100%;
      @include md {
        width: 50%;
      }
      #iframe-element-wrapper {
        margin-top: 45px;
        width: 100%;
      }
    }
    .compiler-board-code-editors {
      width: 100%;
      @include md {
        width: 50%;
      }

    }
  }

}