@import "@styles/colors";
@import "@styles/variables";

.button-wrapper {
  margin: $margin-small;
  button {
    background-color: $secondary-color;
    color: $font-primary-color;
    max-height: 36.5px;
    &:hover {
      background-color: $secondary-color-lighten;
    }
    &:disabled {
      background-color: $disabled-color;
    }
    svg {
      margin: 0 2px;
    }
    .loader {
      overflow: hidden;
      margin-left: $margin-small;
      max-width: 20px;
    }
  }
}
