@import "@styles/colors";
@import "@styles/variables";

.button-wrapper {
  margin: $margin-small;
  &.normal {
    button {
      background-color: $secondary-color;
      color: $font-primary-color;
      &:hover {
        background-color: $secondary-color-lighten;
      }
    }
  }
  &.dark {
    button {
      background-color: $primary-color;
      color: $font-primary-color;
      &:hover {
        background-color: $secondary-color-lighten;
      }
    }
  }
  button {
    max-height: 36.5px;
    &:disabled {
      background-color: $disabled-color;
    }
    svg {
      margin: 0 2px;
    }
    .loader {
      overflow: hidden;
      margin-left: $margin-small;
      max-width: 20px;
    }
  }
}
