@import "@styles/colors";
@import "@styles/mixins";

.loading-icon-wrapper {
  @include center;
  span {
    color: $font-primary-color;
  }
}

.full-screen-loader {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}
